<!--tabs-->
<ul class="nav nav-tabs nav-analyse">
    <li id="werkgever">
        <a asp-controller="Werkgever" asp-action="Index">Werkgever</a>
    </li>
    <li id="kosten">
        <a href="#">Kosten</a>
    </li>
    <li id="baten">
        <a asp-controller="Baten" asp-action="Index">Baten</a>
    </li>
    <li id="resultaat">
        <a href="#">Resultaat</a>
    </li>
</ul>