<!--tabs-->
<ul class="nav nav-tabs nav-analyse">
    <li id="werkgever">
        <a asp-controller="Werkgever" asp-action="Index">Werkgever</a>
    </li>
    <li id="contactpersoon">
        <a asp-controller="ContactPersoon" asp-action="Index">Contactpersoon</a>
    </li>
    <li id="kosten">
        <a asp-controller="Kosten" asp-action="Index">Kosten</a>
    </li>
    <li id="baten">
        <a asp-controller="Baten" asp-action="Index">Baten</a>
    </li>
    <li id="resultaat">
        <a asp-controller="Resultaat" asp-action="Index">Resultaat</a>
    </li>
    @*<li>
        <a asp-controller="Resultaat" asp-action="Opslaan">
            <i class="fa fa-floppy-o" aria-hidden="true" style="font-size: 1.5em;"></i>
        </a>
    </li>*@
</ul>