@{
    ViewData["Title"] = "Foutmelding";
}

<h1 class="text-danger">@ViewData["Title"]</h1>
<h2 class="text-danger">Er ging iets fout bij het behandelen van je aanvraag. Probeer het later opnieuw.</h2>

<p>Onze excuses voor het ongemak.</p>