body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url(../images/dashboard_bg.jpg);
    -ms-background-attachment: fixed;
    background-attachment: fixed;
    -ms-background-position: top left;
    background-position: top left;
    font-family: 'Asap', Cambria, sans-serif;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #FAFAFA;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
.input-maxwidth {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display:inline-block;
    content: "[";
    padding-right: 0.5em;
}
.btn-bracketed::after {
    display:inline-block;
    content: "]";
    padding-left: 0.5em;
}

.btn-info {
    background-color: #97C900 !important;
    border-color: #97C900 !important;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

.navbar-inverse {
    background-color: #FAFAFA;
    border-color: #E5E5E5;
}

.navbar-nav > li > a,
.navbar-brand,
.navbar-nav > li > button {
    color: #97C900 !important; 
    font-weight: bold !important;
}

a.navbar-brand {
    padding-top: 5px;
}

.navbar-brand img {
    max-width: 100px;
}
.intro {
    display: none;
    background-color: #FFFFFF;
    padding: 30px;
    float: left;
    margin-right: 50px;
    max-width: 60%;
    border-radius: 3px;
}

textarea#Bericht {
    /*Opmerking form*/
    width: 600px;
    height: 300px;
    max-width: none;
}
input#Onderwerp {
    /*Opmerking form*/
    width: 600px;
    max-width: none;
}
.buttonsMinPlus {
    align-items: right;
}
#icons-h4 {
    text-align: right;
    display: inline-block;
}

.nav-tabs > li {
    float:none;
    display:inline-block;
    *display:inline;
    zoom:1;
}

.nav-tabs {
    text-align:center;
}

.nav-analyse {
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.nav-analyse .active a {
    background-color: #97c900 !important;
}

form.formOpmerking.form-horizontal.call {
    width: 900px;
}

.NieuweOfBestaandeWerkgeverButtons{
    /*Buttons om te kiezen tussen Nieuwe of BsetaandeWerkgever*/
    text-align: center;
}

.addOption {
    overflow: auto;
    padding: 10px;
}

.addOption a {
    float: right;
    margin: 0 15px;
}

.options {
    text-align: center;
}

/*Ervoor zorgen dat de opties rechts in de tabel verschijnen en verdwijnen:*/
tr .options i,
li .options i {
    -ms-opacity: 0;
    opacity: 0;
}

tr:hover .options i,
li:hover .options i {
    -ms-opacity: 1;
    opacity: 1;
}

.tooltip-inner {
    max-width: 450px;
    width: 450px;
}

.noPadding {
    padding: 0;
}

.lichtpaars {
    background-color: rgba(177, 161, 198, 0.5);
}

.donkerpaars {
    background-color: #B1A1C6;
}

.donkergeel {
    background-color: #FFFD38;
}

.lichtgeel {
    background-color: rgba(255, 253, 56, 0.5);
}

.zwart{
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.lichtgrijs {
    background-color: lightgrey;
}

.overflow {
    overflow: auto;
}

.card {
    padding: 10px 20px;
    min-height: 0px;
    border: none;
    -ms-border-radius: .28571429rem;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.resultaat {
    font-size: 1.5em;
}

.headerButtons a {
    background: none;
    border: none;
}

.headerButtons a span, .headerButtons a i {
    font-size: 1.3em;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none
    }
}