body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url(../images/dashboard_bg.jpg);
    -ms-background-size: cover;
    background-size: cover;
    -ms-background-attachment: fixed;
    background-attachment: fixed;
    -ms-background-position: top left;
    background-position: top left;
    font-family: 'Asap', Cambria, sans-serif;
}

/* Klasse die wat opmaak geeft aan de rijen van de tabellen waarop geklikt kan worden */
.klikbareRij {
    cursor: pointer;
}

.klikbareRij:hover {
    background-color: #97c900;
    font-weight: bold;
}

/* Klasse die aangeeft wat er getoond moet worden in de navigatie op mobiele toestellen */
.mobile {
    font-size: 1.5em;
    margin: auto 15px;
}

/* Klasse die aangeeft wat er enkel getoond moet worden op grote schermen */
.desktop {
    display: none;
}

footer {
    color: #97C900;
    font-weight: bold;
}

.page-header, hr {
    border-color: #97C900 !important;
}

/* Beetje padding zodat niet alles tegen de kant plakt */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #FAFAFA;
}

/* De kleur van de navbar instellen */
.navbar-inverse {
    background-color: #FAFAFA;
    border-color: #E5E5E5;
}

/* Klasse voor inputfields die niet de volledige breedte moeten innemen */
.input-maxwidth {
    max-width: 280px;
}

/* Elke knop een groene kleur geven */
.btn-info,
.btn-succes{
    background-color: #97C900 !important;
    border-color: #97C900 !important;
}

/* Wat dingen goed zetten voor de kleur van de navbar */
.navbar-nav > li > a,
.navbar-brand,
.navbar-nav > li > button {
    color: #97C900 !important; 
    font-weight: bold !important;
}

/* Het logo wat goed zetten */
a.navbar-brand {
    padding-top: 5px;
}

.navbar-brand img {
    max-width: 100px;
}

/* De introductietekst op de loginpagina wat opmaken */
.intro {
    display: none;
    background-color: #FFFFFF;
    padding: 30px;
    float: left;
    margin-right: 50px;
    max-width: 60%;
    border-radius: 3px;
}

/* De navigtie van de analyse centreren */
.nav-tabs > li {
    float:none;
    display:inline-block;
    zoom:1;
}

/* Klasse voor wat opmaak aan de partial _Tabs */
.nav-analyse {
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.nav-analyse a {
    color: black !important;
}

.nav-analyse .active a {
    background-color: #97c900 !important;
    color: white !important;
    font-weight: bold;
}

/* De + bij elke kost of baat opmaken */
.addOption {
    overflow: auto;
    padding: 10px;
}

.addOption a {
    float: right;
    margin: 0 15px;
}

/* De opties voor een rij in een tabel centreren */
.options {
    text-align: center;
}

/* De andere tooltips een max-width geven */
.tooltip-inner {
    max-width: 150px;
    width: 150px;
}

/* De tooltips van de kosten en baten een max-width geven */
.kostenBatenNav .tooltip-inner {
    max-width: 450px;
    width: 450px;
}

/* Klasse om de padding uit te schakelen */
.noPadding {
    padding: 0;
}

/* Kleuren voor de tabel van BegeleidingsKost */
.lichtpaars {
    background-color: rgba(177, 161, 198, 0.5);
}

.donkerpaars {
    background-color: #B1A1C6;
}

.donkergeel {
    background-color: #FFFD38;
}

.lichtgeel {
    background-color: rgba(255, 253, 56, 0.5);
}

.zwart{
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.lichtgrijs {
    background-color: lightgrey;
}

/* Klasse om ervoor te zorgen dat alle content in de div of andere tag zit */
.overflow {
    overflow: auto;
}

/* Opmaak voor de card van een analyse */
.card {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    -ms-border-radius: .28571429rem;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

/* Opmaak van het resultaat */
.card.resultaat {
    font-size: 1.5em;
}

/* Opmaak van de knoppen die in de header staan van bv. Resultaat */
.headerButtons a {
    background: none;
    border: none;
    color: black;
    margin-right: 10px;
    text-decoration: none;
    font-size: 1.3em;
}

.headerButtons i:hover {
    color: #97C900;
}

/* Opmaak van de navigatie van de kosten en baten */
.kostenBatenNav li a i {
    margin-right: 100px;
}
h6#infoTekstVerplichteVelden {
    color: #97C900;
    font-size: 1em;
}

/* Zorgt voor de *'jes achter elk label van een verplicht veld '*/
.required .control-label:after {
    content: "*";
    font-size: 1.2em;
    /*font-weight: bold;*/
    color: #97C900;
    position: absolute;
    margin-left: 1px;
    /*top: 7px;*/ /*hierdoor werden sommige * onderaan geplaatst*/
}
.paddingtekst {
    padding-left: 15px;
}
.btnsAnnOpslInperkingOmzetVerlies {
    padding-right: 65px;
    padding-bottom: 15px;
}
.kostenBatenNav a:active,
.resultaat a,
.resultaat a:active {
    color: black;
}

.kostenBatenNav a:hover,
.resultaat a:hover{
    color: #97C900 !important;
    font-weight: bold;
}

.kostenBatenNav a:before {
    content: "\f040";
    font-family: FontAwesome;
}

@media only screen and (min-width: 1024px) {
    .mobile {
        display: none;
    }

    .desktop {
        display: inline !important;
    }

    /*Ervoor zorgen dat de opties rechts in de tabel verschijnen en verdwijnen*/
    .options i,
    .options span{
        -ms-opacity: 1;
        opacity: 1;
    }

    tr:hover .options i,
    li:hover .options i,
    .card:hover .options i,
    .card:hover .options span {
        -ms-opacity: 1;
        opacity: 1;
    }

}

/*formaat van Ipad (tablet)*/
@media only screen and (max-width: 1024px){
    body {
        padding-top: 25px;
        padding-bottom: 0 !important; /*de rand onderaan wordt hierdoor weggedaan*/
    }
    /*zorgt ervoor dat er geen rand is*/
    .body-content {
        min-width: 100%;
        padding-top: 25px;
        min-height: 100vh; /*neemt de volledige lengte van de pagina in*/
    }

    li.desktop {
        display: none;
    }

    .mobile {
        display: none !important;
    }
    /*om de rechtse navbar goed te zetten*/
    .navRechtsIpad {
        padding-right: 15px;
    }

    a {
        color: black /*#97c900*/;
    }

    .inputFullWidth {
        width: 96% !important; /*zorgt ervoor dat de input fields van het bericht gelijk staan met de knop verzend*/
    }

    .input-maxwidth { /*alle inputfields de volledige lengte geven*/
        max-width: none !important;
    }

    .page-header { /*Ziet er beter uit zonder margin, anders is er te veel ruimte tussen de nav en de page-header*/
        margin: 0;
    }

    .paddingtekst { /*zorgt ervoor dat de tekst mooi gealigneerd staat met de labels en input fields*/
        padding-left: 15px;
    }

    .paddingTopLabel { /*zorgt dat er genoeg ruimte is tussen input field en onderliggend label*/
        padding-top: 15px !important;
    }

    .btnVolgende { /*btn volgende aligneren met btn voeg toe*/
        margin-left: 130px;
    }

    .btnVorige { /*btn vorige aligneren met bovenstaande labels/input fields toe*/
        margin-left: 0;
    }

    .addOption a { /*btn plus aligneren met bovenstaande labels/inputfields*/
        margin: 0 -10px
    }

    .fontsizeTabelLoonkost {
        font-size: xx-small;
    }

    .btnsAnnAdd { /*zorgt ervoor dat de btns annuleer/voeg toe niet tegen het input field er boven hangen*/
        padding-top: 15px;
        margin-right: 2%
    }

    .btnsAnnAddLogistiekeBesparing { /*zorgt ervoor dat de btns annuleer/voeg toe niet tegen het input field er boven hangen*/
        padding-bottom: 15px;
        margin-right: 2%
    }

    .btnsAnalyse {
        padding-top: 15px;
        color: black !important;
    }

    .btnsAnnOpslInperkingOmzetVerlies {
        margin-right: 15px !important;
        padding-bottom: 15px !important;
    }

    .beschrijving {
        padding-top: 15px;
    }
    /*Inlog scherm*/
    .intro {/*intro tekst goed zetten (in het midden v/d pagina*/
        margin-right: 50px;
        max-width: 60%;
        margin-left: 20%;
        margin-bottom: 5%;
    }
    .fa-2x {
        float: right;
    } .box-login {
        width: 60% !important;
        max-width: 60% !important;
        margin-left: 20%;
        margin-top: 15px;
        margin-bottom: 5%;
        height: 500px !important;
        max-width: none;

    }
    /*Registreer scherm*/
    .container.body-content .box-login {
        height: 100% !important;
    }
    .btnToelichting{
        margin-bottom: 10px;
        padding-left: 70px !important;
        margin-top: 10px !important;
    }
    .btnsAnnAddLogistiekeBesparing2 {
        float: right !important;
        padding-bottom: 15px;
        padding-right: 33px;
    }
    #btnResultaat{
        margin-left: 0 !important;
    }
    #btnVolgendeLogistiekeBesparing{
        padding-right: 33px !important;
    }
    #btnVorigeLogistiekeBesparing{
        padding-left: 20px;
    }
    #btnVolgendeExtraOmzet{
        padding-right: 37px !important;
    }
}
