@{
    ViewData["title"] = "Kosten";
}

<div>
    @Html.Partial("_Tabs")
</div>

<div class="page-header">
    <h3>@ViewData["title"]</h3>
</div>
<p>
    Kies een kost uit onderstaande lijst.
    Beweeg met de muis over de kost om meer info te krijgen.
</p>
<div class="row col-md-offset-1">
    <ul class="nav nav-pills nav-stacked">
        <li><!--k1.1-->
            <a asp-controller="Kosten" asp-action="LoonKosten" 
               data-toggle="tooltip" data-placement="bottom"
               title="Welke (nieuwe) functie(s) vul je in?">
                
            </a>
        </li>
        <li><!--k1.1-->
            <a asp-controller="Kosten" asp-action="EnclaveKosten" 
               data-toggle="tooltip" data-placement="bottom"
               title="Laat de werkgever werk uitvoeren door een maatwerkbedrijf of via enclave of onderaanneming?
                Zo ja, hoeveel betaalt hij hiervoor jaarlijks?">
                Medewerkers op hoger niveau vervangen
            </a>
        </li>
        <li>
            <a asp-controller="Kosten" asp-action="VoorbereidingsKosten"
               data-toggle="tooltip" data-placement="bottom"
               title="Welke kosten moet de werkgever maken ter voorbereiding van de aanwerving 
               (bv. ondersteuning bij de uitvoer van functiecreatie of jobcarving, administratie regelen, 
               uitzoeken welke aanpassingen nodig zijn, extra gesprekken met bemiddelingsdiensten, …)?">
                
            </a>
        </li>
        <li>
            <a asp-controller="Kosten" asp-action="InfrastructuurKosten"
               data-toggle="tooltip" data-placement="bottom"
               title="Welke extra kosten inzake infrastructuur zal het tewerkstellen van deze medewerker(s) met zich meebrengen? 
               (bv. aanpassingen werkpost, extra infrastructuur ten gevolge van reshoring of insourcing,…)">
                Extra omzet
            </a>
        </li>
        <li><!--K4-->
            <a asp-controller="Kosten" asp-action="GereedschapsKosten"
               data-toggle="tooltip" data-placement="bottom"
               title="Welke andere extra materiële kosten moet de werkgever jaarlijks maken bij
                het tewerkstellen van deze medewerker(s)? 
               (bv. kosten van aangepaste werkkledij en -gereedschap)">
                Extra productiviteit
            </a>
        </li>
        <li><!--K5-->
            <a asp-controller="Kosten" asp-action="OpleidingsKosten"
               data-toggle="tooltip" data-placement="bottom"
               title="Welke extra opleidingskosten zal de werkgever hebben om de nieuwe krachten 
               op het gewenste niveau te krijgen?">
                Besparingen op overuren
            </a>
        </li>
        <li><!--k6-->
            <a asp-controller="Kosten" asp-action="BegeleidingsKosten" 
               data-toggle="tooltip" data-placement="bottom"
               title="Welke kosten zal de werkgevers jaarlijks hebben aan extra administratie en
                interne begeleiding tijdens de tewerkstelling?">
                Externe inkopen, transportskosten en logistieke handlingskosten
            </a>
        </li>
        <li>
            <a asp-controller="Kosten" asp-action="ExtraKosten"
               data-toggle="tooltip" data-placement="bottom"
               title="Aan welke kosten kan nog meer worden gedacht?">
                Subsidie
            </a>
        </li>
    </ul>
</div>
@section scripts {
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });

        $("#kosten").addClass("active");
    </script>
}