@model IEnumerable<KairosWeb_Groep6.Models.KairosViewModels.DepartementViewModel>

@if (!Model.Any())
{
    <p class="alert alert-info animated shake">Er zijn geen departementen gevonden voor deze werkgever. Probeer een andere zoekterm of maak een niew departement aan.</p>
}
else
{
    <table class="table table-condensed table-bordered">
        <tr>
            <th>Departement</th>                  
        </tr>

        @foreach (var item in Model)
        {
            <tr class="klikbareRij" data-href="@Url.Action("SelecteerBestaandeWerkgever", "Werkgever",
                                              new { analyseid = ViewData["analyseid"],
                                                  Id = item.DepartementId, WerkgeverId = item.WerkgeverId })">
                <td>@item.Naam</td>
            </tr>
        }
    </table>
}
