@model KairosWeb_Groep6.Models.KairosViewModels.BestaandDepartementViewModel
@{
    ViewData["Title"] = "Departementen";
}
<div class="page-header">
    <h3>@ViewData["Title"]</h3>
</div>

<p>Vul een zoekterm in en druk op enter.</p>

<div class="row">
    <form asp-action="ZoekDepartementen" method="post" id="form" asp-route-id="@Model.WerkgeverId">
        <div class="col-md-offset-2 col-md-4">
            <div class="form-group">
                <label for="naam" class="control-label">Zoekterm</label>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </span>
                    <input type="text" id="naam" name="naam" class="form-control input-maxwidth" placeholder="Zoekterm"/>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Zoek" class="btn btn-info" />
                <a asp-controller="Werkgever" asp-action="BestaandDepartement" class="btn btn-default" style="margin-left: 15px;">Toon alles</a>
                <a asp-controller="Werkgever" asp-action="BestaandeWerkgever" class="btn btn-default" style="margin-left: 15px;">Terug</a>
            </div>
        </div>
    </form>
</div>

<br />

<div class="row" id="data" style="margin: 0 10px;">
    @Html.Partial("_Departementen", Model.Departementen)
</div>



<div class="row">
    <div class="col-xs-12 col-md-12 text-right">
        <a asp-controller="Werkgever" asp-action="NieuwDepartement" asp-route-id="@Model.WerkgeverId"
           style="margin-left: 15px" class="btn btn-info">
            Nieuw departement <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </a>
    </div>
</div>



@section Scripts {
    <script>
        $("#form").submit(function () {
            $.post(this.action,
                $(this).serialize(),
                function (data) {
                    $("#data").html(data);
                });

            return false;
        });

        $("#werkgever").addClass("active");
    </script>

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}