@{
    ViewData["title"] = "Nieuwe Analyse";
}

<div>
    @Html.Partial("_Tabs")
</div>

<div class="page-header">
    <h3>@ViewData["title"]</h3>
</div>

<div>
    <div class="col-md-12">
        <div class="btn-group-lg text-center">
            <a asp-controller="Werkgever" asp-action="NieuweWerkgever" class="btn btn-info" style="margin-right: 10px;">Nieuwe werkgever</a>
            <a asp-controller="Werkgever" asp-action="BestaandeWerkgever" class="btn btn-primary" style="margin-left: 10px;">Bestaande werkgever</a>
        </div>
    </div>
    <br><br><br>
</div>

@section scripts{
    <script>
        $("#werkgever").addClass("active");
    </script>
}