@model KairosWeb_Groep6.Models.KairosViewModels.ResultaatViewModel
@{ 
    ViewData["title"] = "Resultaat";
}

<div>
    @Html.Partial("_Tabs")
</div>

<div class="page-header">
    <h3>@ViewData["title"]</h3>
</div>

