<!--tabs-->
<ul class="nav nav-tabs tabsWerkgeverKostenBatenResultaat">
    <li><a id="werkgever" href="#">Werkgever</a></li>
    <li><a id="kosten" href="#">Kosten</a></li>
    <li><a id="baten" href="#">Baten</a></li>
    <li><a id="resultaat" href="#">Resultaat</a></li>
</ul>