@model IEnumerable<KairosWeb_Groep6.Models.BatenViewModels.ExterneInkoopViewModel>

@*@if (!Model.Any())
    {
        <tr>
            <th>Jaarbedrag omzetverlies</th>
        </tr>
        <tr>
            <td>-</td>
        </tr>
    }*@
<div id="tabellen">
    <table class="table table-striped table-condensed table-bordered">
        <tr>
            <th>Jaarbedrag</th>

        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Bedrag</td>
            </tr>
        }
    </table>
    <br><br><br>
    <table class="table table-striped table-condensed table-bordered">
        <tr>
            <th>TransportKosten</th>

        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Bedrag</td>
            </tr>
        }
    </table>
    <br><br><br>
    <table class="table table-striped table-condensed table-bordered">
        <tr>
            <th>Logistieke handelingskosten</th>

        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Bedrag</td>
            </tr>
        }
    </table>
</div>