@model IEnumerable<KairosWeb_Groep6.Models.BatenViewModels.MedewerkerNiveauBaatViewModel>

@*@if (!Model.Any())
    {
        <tr>
            <th>Uren</th>
            <th>Bruto maandloon fulltime</th>
            <th>Totale loonkost per jaar (incl patronale bijdrage en vakantiegeld)</th>
        </tr>
        <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
    }*@
<table class="table table-striped table-condensed table-bordered">
    <tr>
        <th>Uren</th>
        <th>Bruto maandloon fulltime</th>
        <th>Totale loonkost per jaar (incl patronale bijdrage en vakantiegeld)</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Uren</td>
            <td>@item.BrutoMaandloonFulltime</td>
            <td>@item.Bedrag</td>
        </tr>
    }
</table>