@using KairosWeb_Groep6.Models.Domain
@using KairosWeb_Groep6.Models.Domain.Extensions
@model IEnumerable<KairosWeb_Groep6.Models.KairosViewModels.Kosten.InfrastructuurKostViewModel>
@{
    ViewData["Title"] = Soort.InfrastructuurKost.GeefOmschrijving();
}

<div>
    <div>
        @Html.Partial("_Tabs")
    </div>

    <div class="page-header">
        <h3>@ViewData["title"]</h3>
    </div>

    <p>
        @Soort.InfrastructuurKost.GeefVraag()
    </p>

    <div id="data">
        @{
            Html.RenderPartial("_OverzichtTabel", Model);
        }
    </div>

    <div class="addOption">
        <a class="btn btn-info" id="add" asp-action="VoegToe"><i class="fa fa-plus" aria-hidden="true"></i></a>
    </div>

    <div id="divForm">
        
    </div>
</div>

<div class="row" style="margin-top:20px">
    <div class="col-xs-9 col-md-9">
        <a asp-controller="Kosten" asp-action="VoorbereidingsKosten" style="margin-left: 15px" class="btn btn-default">
            <i class="fa fa-chevron-left" aria-hidden="true"></i> Voorbereidingskosten
        </a>
    </div>
    <div class="col-xs-3 col-md-3 text-right">
        <a asp-controller="Kosten" asp-action="GereedschapsKosten" class="btn btn-info">
            Materiële kosten <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </a>
    </div>
</div>

@section scripts{
    <script>
        siteView.initFunctionsKostenEnBaten();

        $("#kosten").addClass("active");
    </script>
}