@model KairosWeb_Groep6.Models.KairosViewModels.Baten.LogistiekeBesparingViewModel

<form asp-controller="LogistiekeBesparing" asp-action="Opslaan" method="post" class="form-horizontal">

    <h6 id="infoTekstVerplichteVelden" class="paddingtekst">Velden aangeduid met een * zijn verplicht in te vullen</h6>

    <div asp-validation-summary="All" class="text-danger"></div>

    <input asp-for="Id" />
    <input asp-for="Soort" />
    <input asp-for="Type" />

    <div class="row">
        <div class="col-md-10 col-md-offset-2">
            <div class="col-md-4 required">
                <label class="control-label" asp-for="TransportKosten"></label>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-eur" aria-hidden="true"></i>
                    </span>
                    <input asp-for="TransportKosten" class="form-control input-maxwidth" id="transport" />
                </div>
                <span asp-validation-for="TransportKosten" class="text-danger"></span>
            </div>

            <div class="col-md-4 required">
                <label class="control-label" asp-for="LogistiekHandlingsKosten"></label>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-eur" aria-hidden="true"></i>
                    </span>
                    <input asp-for="LogistiekHandlingsKosten" class="form-control input-maxwidth" id="loghandling" />
                </div>
                <span asp-validation-for="LogistiekHandlingsKosten" class="text-danger"></span>
            </div>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-offset-2 col-md-10 text-center">
            <a asp-controller="Baten" asp-action="Index" class="btn btn-default">Annuleer</a>
            @if (Model.TransportKosten > 0 || Model.LogistiekHandlingsKosten > 0)
            {
                <a asp-controller="LogistiekeBesparing" asp-action="Verwijder" class="btn btn-danger" style="margin-left: 15px">Verwijder</a>
            }
            <button type="submit" class="btn btn-info" style="margin-left: 15px">Opslaan</button>
        </div>
    </div>
</form>