@using KairosWeb_Groep6.Models.Domain
@using KairosWeb_Groep6.Models.Domain.Extensions
@using Microsoft.AspNetCore.Mvc.Rendering
@model IEnumerable<KairosWeb_Groep6.Models.KairosViewModels.Kosten.GereedschapsKostViewModel>
@{
    ViewData["Title"] = Soort.GereedschapsKost.GeefOmschrijving();
}

<div>
    <div>
        @Html.Partial("_Tabs")
    </div>

    <div class="page-header">
        <h3>@ViewData["title"]</h3>
    </div>

    <p>
        @Soort.GereedschapsKost.GeefVraag()
    </p>

    <div id="data">
        @{
            Html.RenderPartial("_OverzichtTabel", Model);
        }
    </div>

    <div class="addOption">
        <a class="btn btn-info" id="add" asp-action="VoegToe"><i class="fa fa-plus" aria-hidden="true"></i></a>
    </div>

    <div id="divForm">
        
    </div>
    
</div>

<div class="row">
    <div class="col-xs-10 col-md-10">
        <a asp-controller="Kosten" asp-action="InfrastructuurKosten" style="margin-left: 15px" class="btn btn-default">
            <i class="fa fa-chevron-left" aria-hidden="true"></i> Infrastructuurkosten
        </a>
    </div>
    <div class="col-xs-2 col-md-2">
        <a asp-controller="Kosten" asp-action="OpleidingsKosten" class="btn btn-info">
            Opleidingskosten <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </a>
    </div>
</div>

@section scripts{
    <script>
        siteView.initFunctionsKostenEnBaten();

        $("#kosten").addClass("active");

    </script>
}