<div class="row" style="margin-top:20px">
    <div class="col-xs-10 .col-md-10">
        <a asp-controller="Werkgever" asp-action="Index" class="btn btn-default">
            <i class="fa fa-chevron-left" aria-hidden="true"></i> Werkgever
        </a>
    </div>
    <div class="col-xs-2 .col-md-2 text-right" id="btnResultaat">
        <a asp-controller="Kosten" asp-action="Index" style="margin-left:15px" class="btn btn-default">
            Kosten <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </a>
    </div>
</div>
