@using KairosWeb_Groep6.Models.Domain
@using KairosWeb_Groep6.Models.Domain.Extensions
@using Microsoft.AspNetCore.Mvc.Rendering
@model IEnumerable<KairosWeb_Groep6.Models.KairosViewModels.Kosten.BegeleidingsKostViewModel>
@{
    ViewData["Title"] = Soort.BegeleidingsKost.GeefOmschrijving();
}

<div>
    
    <div>
        @Html.Partial("_Tabs")
    </div>

    <div class="page-header" style="overflow: auto;"> <!--Overflow omdat anders de border boven de h3 en knop staat-->
        <div class="col-md-9">
            <h3>@ViewData["title"]</h3>
        </div>
        <div class="col-md-3" style="margin-top: 20px;"> <!--margin omdat de h3 dezelfde margin heeft-->
            <a asp-controller="BegeleidingsKosten" asp-action="Info" class="btn btn-default text-right">
                <span class="glyphicon glyphicon-info-sign"></span>
                Toelichting begeleidingskosten
            </a>
        </div>
    </div>

    <p>
        @Soort.BegeleidingsKost.GeefVraag()
    </p>

    <br />

    <div id="data">
        @{
            Html.RenderPartial("_OverzichtTabel", Model);
        }
    </div>

    <div class="addOption">
        <a class="btn btn-info" id="add" asp-action="VoegToe"><i class="fa fa-plus" aria-hidden="true"></i></a>
    </div>

    <div id="divForm">
        
    </div>
</div>

<div class="row" style="margin-top:20px">
    <div class="col-xs-9 col-md-9">
        <a asp-controller="Kosten" asp-action="OpleidingsKosten" style="margin-left: 15px" class="btn btn-default">
            <i class="fa fa-chevron-left" aria-hidden="true"></i> Opleidingskosten
        </a>
    </div>
    <div class="col-xs-3 col-md-3 text-right">
        <a asp-controller="Kosten" asp-action="ExtraKosten" style="margin-left: 35px" class="btn btn-info">
            Extra kosten <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </a>
    </div>
</div>

@section scripts{
    <script>
        siteView.initFunctionsKostenEnBaten();
        $("#kosten").addClass("active");
    </script>
    
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}