@using KairosWeb_Groep6.Models.Domain
@using KairosWeb_Groep6.Models.Domain.Extensions
@model KairosWeb_Groep6.Models.KairosViewModels.Baten.ExtraBesparingViewModel
@{
    ViewData["Title"] = Soort.ExtraBesparing.GeefOmschrijving();
}

<div>
    <div>
        @Html.Partial("_Tabs")
    </div>

    <div class="page-header">
        <h3>@ViewData["title"]</h3>
    </div>

    <p>
        @Soort.ExtraBesparing.GeefVraag()
    </p>

    <div id="data">
        @{
            Html.RenderPartial("_OverzichtTabel", Model);
        }
    </div>

    <div class="addOption">
        <a class="btn btn-info" id="add" asp-action="VoegToe"><i class="fa fa-plus" aria-hidden="true"></i></a>
    </div>

    <div id="divForm">
        
    </div>
</div>

<div class="row" style="margin-top:20px">
    <div class="col-xs-10 col-md-10">
        <a asp-controller="Baten" asp-action="Subsidies" style="margin-left: 15px" class="btn btn-default">
            <i class="fa fa-chevron-left" aria-hidden="true"></i> Subsidie
        </a>
    </div>
    <div class="col-xs-2 col-md-2 text-right">
        <a asp-controller="Resultaat" asp-action="Index" style="margin-right: 15px" class="btn btn-info">
            Resultaat <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </a>
    </div>
</div>

@section scripts{
    <script>
        siteView.initFunctionsKostenEnBaten();

        $("#baten").addClass("active");
    </script>

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}