@model KairosWeb_Groep6.Models.KairosViewModels.Baten.OverurenBesparingViewModel

<form asp-action="Opslaan" id="form" method="post">

    <h6 class="col-md-offset-2" id="infoTekstVerplichteVelden">Velden aangeduid met een * zijn verplicht in te vullen</h6>

    <div asp-validation-summary="All" class="text-danger"></div>

    <input asp-for="Id" />
    <input asp-for="Type" />
    <input asp-for="Soort" />

    <div class="row col-md-offset-2 required">
        <div class="col-md-4">
            <label asp-for="Bedrag" class="control-label"></label>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-euro" aria-hidden="true"></i>
                </span>
                <input asp-for="Bedrag" class="form-control" placeholder="Jaarbedrag" id="bedrag">
            </div>
        </div>
    </div>
    <br />

    <div class="row col-md-offset-2">
        <div class="col-md-4 text-right">
            <a asp-controller="Baten" asp-action="Index" class="btn btn-default">Annuleer</a>
          
            <button type="submit" class="btn btn-info" style="margin-left: 15px">Opslaan</button>
        </div>
    </div>
</form>