@model KairosWeb_Groep6.Models.KairosViewModels.IndexViewModel
@{
    ViewData["title"] = ViewData["zoeken"] == null ? "Archief" : "Zoekresultaten";
    var klasse = ViewData["zoeken"] == null ? "col-md-12" : "col-md-9";
}

<div>
    <div class="page-header" style="overflow: auto;">
        <!--Overflow omdat anders de border boven de h3 en knop staat-->
        <div class="col-md-7">
            <h3>@ViewData["title"]</h3>
        </div>
        <div class="col-md-5" style="margin-top: 20px;">
            @if (ViewData["zoeken"] != null)
            {// als we gezocht hebben knop tonen
                <div class="col-md-3">
                    <a class="btn btn-default" asp-action="Index" asp-controller="Archief">Toon alles</a>
                </div>
            }

            <div class="@klasse">
                <!--margin omdat de h3 dezelfde margin heeft-->
                <form asp-action="Zoek" method="post" id="zoekterm">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Zoek analyses"  name="zoekterm">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default">Zoek</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <div>
        <img src="/images/loader.gif" alt="Laad-icoon analyses" id="loader" />
    </div>

    <div class="row" id="analyses" data-href="@Url.Action("HaalAnalysesOpZonderModel", new
                                                {
                                                    beginIndex = Model.BeginIndex,
                                                    eindIndex = Model.EindIndex
                                                })">
            
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function() {
            if (siteView) {
                siteView.laadAnalyses();
            }
        });

        $("#zoekterm").submit(function (event) {
            event.preventDefault();
            $.post(this.action, $(this).serialize(),
                function (data) {
                    $("#analyses").html(data);
                    $("#loader").slideUp(500);

                });

        })
    </script>
}