@model System.Collections.Generic.IEnumerable<KairosWeb_Groep6.Models.Domain.Werkgever>

<table class="table">
    <tr>
        <th>Naam</th>
    </tr>
    
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Naam</td>
            <!-- foto van Werkgever -->
            <td>@item.Gemeente</td>
            <td>@item.Straat</td>
            <td>@item.Nummer</td>
        </tr>
    }
</table>
