@model KairosWeb_Groep6.Models.KairosViewModels.ContactAdminViewModel

@{
    ViewData["title"] = "Contact opnemen met een administrator";
}

<h3>@ViewData["title"]</h3>
<hr />
<form asp-controller="Kairos" asp-action="" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Onderwerp" class="col-md-4 control-label"></label>
        <div class="col-md-8">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form- asp-for="Password" class="form-control" />
            <spangroup">
        <label asp-for="Password" class="col-md-4 control-label"></label>
        <div class="col-md-8">
            <input
        <div class asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>="col-md-12">
        <div class="form-group col-md-6">
            <div class="col-md-offset-5 col-md-12 text-right">
                <div>
                    <button class="btn btn-primary" type="submit">Save</button>
                    <a asp-action="Index" class="btn btn-default">Cancel</a>
                </div>
                <button type="submit" class="btn btn-info">Inloggen</button>
            </div>
        </div>
    </div>
</form>