@using KairosWeb_Groep6.Models.KairosViewModels
@using System.Linq;
@model KairosWeb_Groep6.Models.KairosViewModels.IndexViewModel

@{
    ViewData["title"] = "Home";
}
<div>
    <h3>@ViewData["title"]</h3>
    <hr />
    @if (Model == null || !Model.Analyses.Any())
    {
        <p style="font-size: 1.2em;">Er zijn nog geen analyses om te tonen. Klik op de <i class="fa fa-plus" aria-hidden="true"></i> hieronder
            of op het <i class="fa fa-line-chart" aria-hidden="true"></i>-icoon hierboven om een nieuwe analyse toe te voegen.</p>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <a asp-controller="Analyse" asp-action="NieuweAnalyse">
                    <div class="card text-center" style="color: black;">
                        <i class="fa fa-plus fa-4x" aria-hidden="true" style="margin: auto 0;"></i>
                    </div>
                </a>
            </div>
        </div>
    }
    else
    {
        <div id="data">
            @Html.Partial("_Analyses", Model)
        </div>

        <br />
        <div class="row">
            <div class="col-md-12 text-center">
                <a class="btn btn-default" asp-action="ToonMeer" asp-route-id="@Model.Aantal" id="meer">Toon meer ...</a>
            </div>
        </div>
    }
</div>