@model KairosWeb_Groep6.Models.KairosViewModels.WerkgeverViewModel

@{
    ViewData["Title"] = "Nieuwe analyse bestaande Werkgever";
}
<h2>@ViewData["Title"]</h2>
<hr/>

<form asp-controller="Kairos" asp-action="NieuweAnalyse" method="post" id="Naam" >   
    <div asp-validation-summary="All" class="text-danger"></div>  
    <div class="form-group">
        <label asp-for="Naam" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Naam" class="form-control" />
            <span asp-validation-for="Naam" class="text-danger"></span>
        </div>
    </div>   
</form>

<div id="WerkgeversTable">
    @Html.Partial("_Werkgevers", ViewData["Werkgevers"]);
</div>




@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
