@model KairosWeb_Groep6.Models.KairosViewModels.WerkgeverViewModel

@{
    ViewData["Title"] = "Nieuwe analyse bestaande Werkgever";
}
<div class="page-header">
    <h3>@ViewData["Title"]</h3>
</div>

<div class="row">
    <form asp-controller="Kairos" asp-action="NieuweAnalyse" method="post" id="formAdd">
        <div class="form-group">
            <label asp-for="Naam" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input id="NaamId" asp-for="Naam" class="form-control" />
            </div>
        </div>
    </form>

    <div id="WerkgeversTable">
        @Html.Partial("_Werkgevers", ViewData["Werkgevers"]);
    </div>
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
