@model KairosWeb_Groep6.Models.KairosViewModels.WerkgeverViewModel
@{
    ViewData["Title"] = "Nieuwe analyse bestaande Werkgever";
}
<h2>@ViewData["Title"]</h2>
<hr/>








@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
