@{
    ViewData["Title"] = "Bevestiging wachtwoord vergeten";
}

<h2>@ViewData["Title"]</h2>
<p>
    Check snel je mailbox voor een mail van ons met een tijdelijk wachtwoord! 
    <a asp-action="Login">Ga terug naar het loginscherm.</a>
</p>
