@using KairosWeb_Groep6.Models.Domain
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Aanmelden";
}

<div class="row">
    <div class="intro" id="intro">
        <!--INTRODUCTIE-TEKST-->
        <div class="row">
            <h4 class="col-xs-4 col-md-10">@Model.Introductietekst.Titel</h4>
            <a id="verbergIntro">
                <i class="fa fa-times fa-2x col-md-2 text-right" aria-hidden="true"></i>
            </a>
        </div>

        <hr />
        @foreach (Paragraaf paragraaf in Model.Introductietekst.Paragrafen)
        {
            <p>@paragraaf.Tekst</p>
        }
    </div>
    <div class="box-login" id="login">
        <!--LOGIN FORM-->
        <div class="thumbnail">
            <img src="/images/logo's/kairos_icon_green.png" alt="Logo Kairos" id="logoToonIntro" />
        </div>
        
        <form asp-controller="Account" asp-action="Login" method="post" class="form-horizontal">
            <div class="row">
                <a id="toonIntro">@Model.Introductietekst.Vraag</a>
            </div>

            <div asp-validation-summary="All" class="text-danger"></div>
            
            <div class="row form-group">
                <div class="col-md-12 noPadding">
                    <input asp-for="Email" class="form-control" placeholder="Emailadres" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-12 noPadding">
                    <input asp-for="Password" class="form-control" placeholder="Wachtwoord" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <p>
                    <a asp-action="ForgotPassword">Wachtwoord vergeten?</a>
                </p>
            </div>
            
            <div>
                <button type="submit" class="btn btn-default btn-block">@ViewData["Title"]</button>
            </div>
            <br />
            <div>
                <a asp-controller="Account" asp-action="Register" class="btn btn-info btn-block">Registreer</a>
            </div>
        </form>
    </div>
</div>

@section styles {
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
    <style>
        .body-content {
            background: none;
        }
    </style>
}

@section scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        var body = document.getElementsByTagName("body")[0];
        body.style.backgroundImage = "url(/images/aanmelden_bg.jpg)";
    </script>
    
    <script>
            var width = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;

            var height = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;

            if (width <= 1024) {
                $("#intro").insertAfter("#login");
            }
    </script>
}

