@{
    ViewData["Title"] = "Wachtwoord resetten bevestiging";
}

<h1>@ViewData["Title"]</h1>
<p>
    Je wachtwoord werd opnieuw ingesteld. 
    Ga naar naar <a asp-controller="Account" asp-action="Login">de inlogpagina om aan te melden</a>.
</p>
