@using System.Threading.Tasks
@using KairosWeb_Groep6.Models.ProfielViewModels
@model ProfielViewModel

@{
    ViewData["title"] = "Profiel";
}

<div>
    <h2 class="col-md-offset-1">@ViewData["title"]</h2>

    <form asp-controller="Profiel" asp-action="Index" method="post" class="form-horizontal">
        <div class="col-md-offset-1">
            <div asp-validation-summary="All" class="text-danger"></div>

            <h4>Informatie jobcoach</h4>
            <hr />

            <input asp-for="GebruikerId" type="hidden" />

            <div class="form-group required">
                <label asp-for="Naam" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Naam" class="form-control input-maxwidth" />
                    <span asp-validation-for="Naam" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group required">
                <label asp-for="Voornaam" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Voornaam" class="form-control input-maxwidth" />
                    <span asp-validation-for="Voornaam" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group required">
                <label asp-for="Email" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Email" class="form-control input-maxwidth" placeholder="voorbeeld@example.be" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <a asp-controller="Manage" asp-action="ChangePassword">Wijzig wachtwoord</a>
                </div>
            </div>

            @if (Model.OrganisatieNaam != null)
            {
                <h4>Informatie organisatie</h4>
                <hr />

                <div class="form-group required">
                    <label asp-for="OrganisatieNaam" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="OrganisatieNaam" class="form-control input-maxwidth" />
                        <span asp-validation-for="OrganisatieNaam" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group required">
                    <label asp-for="StraatOrganisatie" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="StraatOrganisatie" class="form-control input-maxwidth" />
                        <span asp-validation-for="StraatOrganisatie" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group required">
                    <label asp-for="NrOrganisatie" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="NrOrganisatie" class="form-control input-maxwidth" />
                        <span asp-validation-for="NrOrganisatie" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group required">
                    <label asp-for="Postcode" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Postcode" class="form-control input-maxwidth" />
                        <span asp-validation-for="Postcode" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group required">
                    <label asp-for="Gemeente" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Gemeente" class="form-control input-maxwidth" />
                        <span asp-validation-for="Gemeente" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-5 text-right" style="padding-right: 0">
                        <button type="submit" class="btn btn-info">Opslaan</button>
                    </div>
                </div>
            }
        </div>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

<script>
    var body = document.getElementsByTagName("body")[0];
    body.style.backgroundImage = "url(/images/aanmelden_bg.jpg)";
</script>
