@{
    ViewData["Title"] = "Bestaande Werkgever";
}
<div class="page-header">
    <h3>@ViewData["Title"]</h3>
</div>

<div class="row">
    <form asp-controller="Analyse" asp-action="BestaandeWerkgever" method="post" id="form">
        <div class="form-group">
            <label for="naam" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input type="text" id="naam" name="naam" class="form-control" />
            </div>
        </div>
    </form>
</div>

<br />

<div class="row" id="data">
        
</div>



@section Scripts {
    <script>
        $("#form").submit(function () {
            $.post(this.action,
                $(this).serialize(),
                function (data) {
                    $("#data").html(data);
                });

            return false;
        });

        $("#werkgever").addClass("active");
    </script>

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
