@model KairosWeb_Groep6.Models.KairosViewModels.WerkgeverViewModel
@{
    ViewData["Title"] = "Nieuwe werkgever";
}

<div>
    <div>
        @Html.Partial("_Tabs")
    </div>

    <div class="page-header col-md-offset-2">
        <h3>@ViewData["Title"]</h3>
    </div>

    <form asp-action="NieuweWerkgever" method="post" class="form-horizontal">
        <div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="WerkgeverId"/>
            <input asp-for="DepartementId" />

            <div class="form-group">
                <label asp-for="Naam" class="col-md-offset-2 col-md-2 control-label"></label>
                <div class="col-md-8">
                    <input asp-for="Naam" class="form-control input-maxwidth"/>
                    <span asp-validation-for="Naam" class="text-danger"></span>
                </div>
            </div>
            
            <div class="form-group">
                <label asp-for="Departement" class="col-md-offset-2 col-md-2 control-label"></label>
                <div class="col-md-8">
                    <input asp-for="Departement" class="form-control input-maxwidth" />
                    <span asp-validation-for="Departement" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Straat" class="col-md-offset-2 col-md-2 control-label"></label>
                <div class="col-md-8">
                    <input asp-for="Straat" class="form-control input-maxwidth"/>
                    <span asp-validation-for="Straat" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Nummer" class="col-md-offset-2 col-md-2 control-label"></label>
                <div class="col-md-8">
                    <input asp-for="Nummer" class="form-control input-maxwidth"/>
                    <span asp-validation-for="Nummer" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Postcode" class="col-md-offset-2 col-md-2 control-label"></label>
                <div class="col-md-8">
                    <input asp-for="Postcode" class="form-control input-maxwidth"/>
                    <span asp-validation-for="Postcode" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Gemeente" class="col-md-offset-2 col-md-2 control-label"></label>
                <div class="col-md-8">
                    <input asp-for="Gemeente" class="form-control input-maxwidth"/>
                    <span asp-validation-for="Gemeente" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="AantalWerkuren" class="col-md-offset-2 col-md-2 control-label"></label>
                <div class="col-md-8">
                    <input asp-for="AantalWerkuren" class="form-control input-maxwidth"/>
                    <span asp-validation-for="AantalWerkuren" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="PatronaleBijdrage" class="col-md-offset-2 col-md-2 control-label"></label>
                <div class="col-md-8">
                    <input asp-for="PatronaleBijdrage" class="form-control input-maxwidth"/>
                    <span asp-validation-for="PatronaleBijdrage" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group col-md-12">
                    <div class="col-md-offset-3 col-md-5 text-right">
                        <div>
                            <a asp-action="NieuweAnalyse" class="btn btn-default">Annuleer</a>
                            <button class="btn btn-info" type="submit">Voeg toe</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <script>
        $("#werkgever").addClass("active");
    </script>

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}